.order-box{
    display: grid;
    position: relative;
    grid-template-rows: auto 1fr;
    border-radius: 15px;
    box-shadow:0 0 15px rgba(0,0,0,0.1) ;
    margin:  15px;

    background-color: #eef0f2;
}

.order-box-Jumbotron{
    margin-bottom: 0 !important;
}

.order-title{
    font-weight: bolder;
    padding-left: 20px;
  
}